.contenedor{
  height: 100vh;
  
}

.columnaContenedora{
   height: 100vh;
}
#barraLateral{
  width:10%;
  height: 100vh;
}
#btnComprimir{
  display: inline;
  margin: auto;
  margin-right: 1px;
 
}
.usuarioImg{
  border-radius: 50%;
  overflow: hidden;
  
}
.carta{
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
